<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wahlergebnisse</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="static/main.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="stateSection">
                <h3>Bundesländer</h3>
                <ul v-if="states.length > 0">
                    <li v-for="state in states">
                        <a href="#" v-on:click.prevent="getDistricts(state.id)">${ state.name }</a>
                    </li>
                </ul>
            </div>
            <div v-if="districts.length > 0" id="districtSection">
                <h3>Wahlkreise</h3>
                <ul>
                    <li v-for="district in districts">
                        <a href="#" v-on:click.prevent="getResults(district.id)">${ district.name }</a>
                    </li>
                </ul>
            </div>
            <div v-if="results.length > 0" id="resultsSection">
                <h3>Ergebniss</h3>
                <table>
                    <tr>
                        <th>Partei</th><th>Erststimmen</th><th>Zweitstimmen</th>
                    </tr>
                    <tr v-for="result in results">
                        <td>${ result.partyName }</td>
                        <td>${ result.erststimmenRelative | toPercentage }</td>
                        <td>${ result.zweitstimmenRelative | toPercentage }</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>